#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.container p {
  
  width: 75%;
}

span {
  gap: 1rem;
}

.settings {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  
}

#logo {
max-width: 150px;

}

@media (max-width: 690px){
  #root {
    width: 90%;
  }
  .container p {
    width: 100%;
  }
  .settings {
   flex-direction: column;
  }
}


